body {
    font-family: 'Lato', sans-serif;
    color: #404040;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 55px;
}

h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.title {
    margin: 50px 50px 0 50px;
    text-align: center;
}

@media (max-width: 537px) {
    .title {
        margin: 50px auto 0 auto;
        text-align: center;
    }

    h5 {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 12px;
        padding: 0 auto 0 auto;
    }

    .above-main {
        margin: 65px 10px 0 10px;
        text-align: center;
    }

    #success {
        display: inline-block;
        text-align: justify;
        font-size: 14px;
        margin: 25px 0 0 0;
        padding: 0 -50px 0 -50px;
    }

    ul {
        padding: 0 0 0 0;
    }

    table {
        margin: 0 0 0 0;
    }

    .bottom {
        margin: 100px auto 0 auto;
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        text-align: center;
    }
}

.red {
    color: #ff0000;
    font-size: 47px;
}

.fa-lastfm-square {
    cursor: pointer;
}

.fa-lastfm-square:hover {
    color: #ff0000;
}

.above-main {
    margin: 65px 50px 0 50px;
    text-align: center;
}

.form {
    max-width: 300px;
    margin: -35 auto 0 auto;
    display: inline-block;
    padding-right: 18px;
}

.holder {
    margin: 0 auto 0 auto;
    text-align: center;
}

table {
    margin: 0 auto 0 auto;
}

#success {
    display: inline-block;
    text-align: justify;
    margin: 25px 50px 25px 50px;
    max-width: 300px;
}

a {
    color: #FF0606;
    font-weight: 700;
    text-decoration: none;
}

.username {
    padding-bottom:10px;
}

.topartist {
  width: 320px;
}

.username a {
    color: #404040;
}

.username a:hover {
    color: #ff0000;
}

.playcount a {
    color: #404040;
}

.playcount a:hover {
    color: #ff0000;
}

.topartist a:hover {
    color: #626262;
}

.bottom {
    margin: 0 50px 0 50px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.bottom-row {
    margin-top: 3px;
}

#powered-by {
  margin: -20px auto 20px -30px;
  font-size: 12px;
}
