body {
  color: #404040;
  font-family: 'Lato', sans-serif;
}

a {
  color: #FF0606;
  font-weight: 700;
  text-decoration: none;
}

h1 {
  font-size: 55px;
  font-weight: 500;
  margin: 0 0 15px;
}

h5 {
  font-weight: 700;
  padding-left: 10px;
  text-align: left;
}

table {
  margin: 0 auto;
}

.bottom-row {
  margin-top: 3px;
}

.fa-lastfm-square {
  cursor: pointer;
}

.fa-lastfm-square:hover {
  color: #ff0000;
}

.feature {
  list-style-position: inside;
  list-style-type: none; 
  margin: 0;
  padding: 0 0 1px;
}

.holder {
  margin: 0 auto;
  text-align: center;
}

.playcount a {
  color: #404040;
}

.playcount a:hover {
  color: #ff0000;
}

.red {
  color: #ff0000;
  font-size: 47px;
}

.title {
  margin: 0 auto;
  text-align: center;
  width: 275px; 
}

.topartist {
  margin-bottom: -15px;
  padding-left: 1.3em;
  text-indent: -1.2em;
  width: 230px;
}

.topartist a:hover {
  color: #626262;
}

.username {
  padding-bottom: 10px;
}

.username a {
  color: #404040;
}

.username a:hover {
  color: #ff0000;
}

#button {
  display: inline-block;
  margin-left: -5px;
  vertical-align: top;
}

#features-container {
  margin: 20px 0 0;
}

#features-list {
  display: inline-block;
  margin: 20px auto 0 auto; 
  padding: 0; 
  text-align: left;
}

#powered-by {
  font-size: 12px;
}

#search-icon {
  color: #404040; 
  height: 33px; 
  padding-top: 4px;
}

#submit-user {
  -webkit-appearance: none;
  height: 38px; 
  width: 38px;
}

#success {
  display: inline-block;
  max-width: 275px;
  padding-right: 40px;
}

#textbox { 
  font-size: 15px;
  height: 38px;
  padding-bottom: 4px; 
  text-align: center; 
  width: 216px;
}

#wrapper {
  margin-top: 20px;
}